li {
  padding: 5px;
  margin: 5px;
  background: #e3d7fa;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
